* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
  font-family: "montserrat", sans-serif;
}
.header {
  background-color: #f5ba13;
  margin: auto -16px;
  padding: 16px 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3o);
}
.header h1 {
  color: #fff;
  font-family: "McLaren", cursive;
  font-weight: 200;
}
.footer {
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}
.formstyle {
  position: relative;
  margin: auto;
  margin-top: 30px;
  height: 160px;
  width: 500px;
  padding: 5px 20px 15px 20px;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 1px 1px 15px #ccc;
}

input {
  position: absolute;
  border: none;
  outline: none;
}
textarea {
  position: relative;
  top: 30px;
  box-sizing: border-box;
  border: none;
  outline: none;
  resize: none;
}
.adddata {
  position: relative;
  border-radius: 60%;
  border-style: none;
  background-color: #f5ba13;
  padding: 10px;
  margin-left: 350px;
  margin-top: 10px;
  color: white;
}
.delbtn {
  color: #f5ba13;
  padding: 50px;
}
